body {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
.hasil button {
    border-radius: 10px 10px 10px 10px;
    transition: all 0.4s ease-in-out;
}
.hasil button:hover {
    cursor: pointer;
    color: white;
    background-color: blue;
    transition: all 0.4s ease-in-out;
}
.Atas, .Atas-Tengah, .Bawah-Tengah, .Bawah {
    border: 10px 10px 10px 10px;
    display: inline-flex;
    padding: 0 40px 10px 40px;
    margin-top: 10px;
    border-bottom: 5px solid;
}
.Herring, .Kingfish, .Goldfish,
.Butterflyfish, .Carp, .Halibut,
.Tuna, .Angler, .Dumb,
.Acid, .Piranha, .Crab {
    background-color: aquamarine;
    border-radius: 10px 10px 10px 10px;
}
.Kingfish, .Carp, .Angler, .Piranha {
    margin: 0 30px 0 30px;
}
.Emerald {
    margin: 0 30px 0 30px;
}
.Ruby {
    margin-right: 30px;
}
.Topaz, .Emerald, .Sapphire,
.Ruby, .Diamond {
    background-color: firebrick;
    border-radius: 10px 10px 10px 10px;
}
img {
    border-radius: 5px 5px 5px 5px;
    width: 40px;
}
#bc {
    margin-top: 15px;
    width: 22px;
}
.totalprice p {
    padding-bottom: 10px;
}
input {
    border-radius: 15px;
    width: 40px;
}
.box1, .box2 {
    display: inline-flex;
}
.bottom {
    margin-top: 5px;
}
.center {
    margin: 5px 5px 0 0;
}
.hasil {
    top: 0;
    width: 30%;
    margin: auto;
    position: sticky;
    text-align: center;
    padding: 15px 0 15px 0;
    box-shadow: 1px 4px 8px black;
    border-radius: 10px 10px 10px 10px;
    background-color: blanchedalmond;
}
.Nof {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px 20px 20px 20px;
    width: 50%;
    background-color: #000000a6;
}
#pricecalc {
    background: none;
    border-radius: 10px 7.8px 10px 7.8px;
}
#calc {
    border-radius: 10px 0 10px 0;
    background-color: lightgreen;
}
#reset {
    border-radius: 0 10px 0 10px;
    background-color: red;
}
/*Laptop*/
@media (max-width:1024px){
    html {
        font-size: large;
    }
}
/*Tablet*/
@media (max-width:768px){
    html {
        font-size: medium;
    }
    .Kingfish, .Carp, .Angler, .Piranha {
        margin: 0 20px 0 20px;
    }
    .hasil {
        width: 25%;
    }
}
/*Mobile*/
@media (max-width:576px){
    html {
        font-size: small;
    }
    .Kingfish, .Carp, .Angler, .Piranha {
        margin: 0 15px 0 15px;
    }
    .Atas, .Atas-Tengah, .Bawah-Tengah, .Bawah {
        padding: 0 20px 10px 20px;
    }
    .Nof {
        border-radius: 5px 5px 5px 5px;
        width: auto;
    }
    .hasil  {
        width: 40%;
    }
}