body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Atas, .Atas-Tengah, .Bawah-Tengah, .Bawah {
    border: 10px 10px 10px 10px;
    display: inline-flex;
    padding: 0 40px 10px 40px;
    border-bottom: 5px solid;
}
.Kingfish, .Carp, .Angler, .Piranha {
    margin: 0 30px 0 30px;
}
.round {
    border-radius: 15px;
}
input {
    width: 40px;
}
.box1, .box2 {
    display: inline-flex;
}
.bottom {
    margin-top: 5px;
}
.center {
    margin: 5px 5px 0 0;
}
.hasil {
    padding-top: 30px;
}
.total {
    display: inline-flex;
}
.totalprice {
    display: inline-flex;
}
.Tombol{
    border-radius: 15px 0 15px 0;
    padding-top: 10px;
    display: inline-flex;
}
.Nof {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px 20px 20px 20px;
    width: 25%;
    background-color: #000000a6;
}
#pricecalc {
    background: none;
    border-radius: 10px 7.8px 10px 7.8px;
}
#calc {
    border-radius: 10px 0 10px 0;
    background-color: lightgreen;
}
#reset {
    border-radius: 0 10px 0 10px;
    background-color: red;
}